<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>psd to html</title>
        <link rel="stylesheet" href="css/normalize.css-master.zip">
        <link rel="font-awesome-4.7.0" href="css/font-awesome-4.7.0.zip">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
    </head>

    <body>

          <header>
              <div class="time"></div>
              
              <div class="page-title">
                  <h1> ركن الدراسات الاجتماعية</h1>
              </div>
              
              <div class="user-options"></div>
          </header>

          <div class="container">
              
              <div class="side">
                  <div>  
                      <div class="icon">
                          <i class="fa fa-bars" aria-hidden="true"></i>
                      </div>
                      <h3> السيرة الذاتية </h3>
                  </div>
                  <h3> الأجندة </h3>
                  <h3> فعاليات وصور </h3>
                  <h3> المدارس </h3>
                  <h3> قسم مسئولى تطوير الجودة </h3>
                  <h3> الخطط </h3>
              </div>

              <div class="section">
                  
                      
                      <div style="background-color:#66c3df;">
                          <h3> السيرة الذاتية </h3>
                      </div>

                      <div style="background-color:#fbbe08">
                          <h3> الأجندة </h3>
                      </div>

                      <div style="background-color:#f86f6e">
                          <h3> فعاليات وصور </h3>
                      </div>
                      
                  
                  
                      <div style="background-color:#516a77">
                          <h3> المدارس </h3>
                      </div>


                      <div style="background-color:#e07e09">
                          <h3> مسئولى تطوير الجودة </h3>              
                      </div>


                      <div style="background-color:#c41e1d">
                          <h3> الخطط </h3>              
                      </div>
                  

              </div>
          </div>
        
         <footer>
                  <h4> جميع الحقوق محفوظة 2017</h4>
         </footer>

      </body>
</html>
