<style>
    @import url("/stylesheets/sign.css");
</style>
<div class="container container-fluid container-sign">
    <form class="form-sign" id="resetpassword" method="POST">
        <h3>إعادة تعيين كلمة المرور</h3>
        {{#if info}}
            <div class="alert alert-info">{{info}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <div class="group-alerts">

        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="كلمة المرور"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmPassword" placeholder="تأكيد كلمة المرور"/>
        </div>
        <div class="form-group">
            <input role="button" type="submit" value="تأكيد" class="submit-sign"/>
        </div>
        <div class="form-group">
            <a href="/login">رجوع</a>
        </div>
    </form>
</div>