<style>
    @import url("../../stylesheets/assistant.css");
</style>
<div class="container-dashbard">



    <!--container of items-->
    <div class="section col-lg-9 col-md-9 col-sm-6 col-xs-12">
        <div class="row">
            {{#if success}}
                <div class="alert alert-success">{{success}}</div>
            {{/if}}
            
            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#62c0db">
                    <h3> السيرة الذاتية </h3>
                </div>
            </div>

            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#fbbe08">
                    <h3> الأجندة </h3>
                </div>
            </div>

            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#f86f6e">
                    <h3> فعاليات وصور </h3>
                </div>
            </div>



            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#516a77">
                    <h3> المدارس </h3>
                </div>
            </div>


            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#e07e09">
                    <h3> مسئولى تطوير الجودة </h3>
                </div>
            </div>


            <div class="item-dashboard col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="cont-item" style="background-color:#c41e1d">
                    <h3> الخطط </h3>
                </div>
            </div>
        </div>
    </div>

</div>